
$button-orange: #F36415;
$text-orange: #E35411;
$logo-orange: #F25812;
$overlay-orange: #F56400;
$hover-orange: #ff6905;

$text-black: #222222;
$overlay-black: #222;

$text-grey: #888888;
$border-grey: #E1E3DF;

$text-darkgrey: #363636;

$hover-lightgrey: #F5F6F1;

.button-orange{
  color: $button-orange;
}
.text-orange{
  color: $text-orange;
}
.logo-orange{
  color: $logo-orange;
}
.text-black{
  color: $text-black;
}
.text-grey{
  color: $text-grey;
}
.border-grey{
  color: $border-grey;
}
