.item-form{
  margin:auto;
  padding: 0 18px;
  display:flex;
  flex-direction:column;
  align-items:center;
  >h1{
    font-size:26px;
    padding: 50px 0;
    font-weight: 700;
  }
  >div{//classnamed=item-****
    border:1px solid $border-grey;
    border-radius: 6px;
    padding: 30px;
    width:100%;
    max-width:1200px;
    min-width:800px;
    margin:0 auto;
    margin-bottom:18px;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    >h2{
      font-size: 20px;
    }
    >h3{
      margin-top: 6px;
      font-size: 14px;
      color:$text-grey;
    }
    >div{
      width:100%;
      display:flex;
      flex-direction:row;
      padding-top:30px;
      >div:first-child{
        width:250px;
        min-width:250px;
        max-width:250px;
        padding-right:30px;
        >h4{
          font-size:14px;
          font-weight: 700;
          margin-bottom:6px;
        }
        >p{
          font-size:12px;
          color:$text-grey;
          line-height: 1.4;
        }
      }
      >div:nth-child(2){
        width:100%;
        >input{
          border-radius:3px;
          font-size:14px;
          padding: 9px 12px;
          border:1px solid $text-grey;
        }
        >input:hover{
          border-color:$text-darkgrey;
        }
        >input:focus{
          border-color:black;
        }

        >textarea{
          width:520;
          min-width:520px;
          max-width:520px;
          height:200px;
          min-height:50px;
          padding: 9px 12px;
          font-size:14px;
          border-radius:3px;
          border:1px solid $text-grey;
        }
        >textarea:hover{
          border-color:$text-darkgrey;
        }
        >textarea:focus{
          border-color:black;
        }
      }
    }
  }

  >.item-photos{
    >div{
      >.image-previews{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        >div{
          >*{
            margin:3px;
            border-radius: 3px;
            border: 1px solid $border-grey;
            overflow: hidden;
            height:100px;
            width:100px;
            >img{
              display:none;
              position:relative;
              height:35px;
              width:35px;
              margin:0;
              padding:0;
              top:-40px;
              right:-32.5px;
              background-color:white;
              border:1px solid $border-grey;
              border-radius: 3px;
            }
            >img:hover{
              background-color: $border-grey;
              border-color: $border-grey;
            }
          }
          >*:hover{
            >img{
              display:block;
            }
            >img:hover{
              cursor: pointer;
            }
          }

          >.file-box{
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            border-color:#FFCDB9;
            background-color:#FFF3ED;
            >input{
              display:flex;
              flex-wrap: wrap;
              align-items: center;
              max-width: 0;
              max-height: 0;
              margin:0;
              overflow:hidden;
            }
            >div{
              height:100%;
              width:100%;
              display:flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              >img{
                height:30px;
                width:30px;
              }
              >h3{
                margin-top:10px;
                color:#FFA400;
              }
            }
            >div:hover{
              cursor:pointer;
            }
          }
        }
      }
    }
  }
  .item-footer{
    border-color:white;
    padding:0;
    >h4{
      color:white;
      margin:auto;
      background-color:#F56400;
      padding: 7px 15px 8px;
      border-radius: 3px;
    }
    >h4:hover{
      background-color:#ff9d5c;
      cursor:pointer;
    }
  }
}
