.show-item{
  margin:auto;
  width:980px;
  padding: 0 18px;
  >.header{
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom:56px;
    margin-top:28px;
    >.left-header{
      display:flex;
      flex-direction: row;
      align-items: center;
      >.prof-img:hover{
        cursor:pointer;
      }
      >h1{
        margin-left:12px;
        font-size: 26px;
        font-weight: 700;
        font-family: $times-new-roman;
      }
      >h1:hover{
        cursor:pointer;
        text-decoration: underline;
      }
    }
    >.right-header{
      display:flex;
      flex-direction: row;
      >*{
        height:75px;
        width:75px;
        border:1px solid $border-grey;
        margin-left:6px;
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        border:2px solid white;
        border-radius:3px;
        overflow:hidden;
      }
      >*:hover{
        border-color:$text-grey;
        cursor: pointer;
      }
      >.item-count{
        flex-direction:column;
        color:$text-black;
        border-color:$border-grey;
        >h3{
          font-size:20px;
          line-height: 1.4;
        }
        >h4{
          font-size:14px;
        }
      }
      >.item-count:hover{
        border-color:$text-grey;
      }
    }
  }
  >.body{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    >.left-body{
      width:570px;
      >.item-images{
        position:relative;
        display:flex;
        flex-direction:row;
        align-items: center;
        height:auto;
        >img{
          width:570px;
          height:auto;
        }
        >div{
          display:flex;
          margin:0;
          width:0;
          height:100%;
          padding:0;
          >div{
            >p{
              position:relative;
              z-index:1;
              display:block;
              height:50px;
              width:auto;
              font-weight: 700;
              font-size:56px;
              color:$text-grey;
              margin:0;
              padding-bottom:10px;
              padding-left:10px;
              padding-right:10px;
              background-color: white;
              border-radius: 6px;
              opacity:.4;
              right:5px;
            }
            >.arrow:hover{
              cursor:pointer;
              opacity:.6;
            }
          }
        }
        >.right-arrow{
          height:100%;
          justify-content: flex-end;
          >div{
            >p{
              right:-5px;
            }
          }
        }
      }
      >.item-description{
        margin-top:12px;
        padding-top:30px;
        border-top:1px solid $border-grey;
        >h3{
          font-weight: 700;
          padding-bottom:12px;
        }
        >p{
          font-size:14px;
          margin-bottom:12px;
        }
        >.cutoff{
          max-height: 273px;
          overflow: hidden;
        }
      }
      >.item-reviews{
        margin-top:12px;
        padding-top:30px;
        border-top:1px solid $border-grey;
        >.review-header{
          display:flex;
          flex-direction: row;
          align-items: center;
          >h3{
            font-size: 16px;
            font-weight: 700;
            padding-right:6px;
          }
          >h5{
            padding-left:6px;
            font-size: 14px;
            color:$text-grey;
          }
        }
        >.reviews{
          >.review-form{
            border-top:1px solid $border-grey;
            padding-top:18px;
            margin:18px 0;
            display:flex;
            flex-direction: column;
            >h1{
              font-size: 18px;
              font-weight: 700;
            }
            >div{
              margin-bottom:9px;
              display:flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              >img{
                height:35px;
                width:35px;
              }
              >img:hover{
                cursor: pointer;
              }
            }
            >textarea{
              padding:6px;
              border-radius: 6px;
            }
            >button{
              font-size: 18px;
              padding: 6px 9px;
              margin-top: 9px;
              color:white;
              background-color: $button-orange;
            }
            >button:hover{
              cursor: pointer;
              background-color: orange;
            }
            >.bad-submit{
              text-decoration: line-through;
              text-decoration-color: white;
            }
            >.bad-submit:hover{
              background-color: $button-orange;
              cursor: default;
            }
          }
          >div{
            display:flex;
            flex-direction:row;
            border-top:1px solid $border-grey;
            padding-top:18px;
            margin:18px 0;
            >.reviewer-info{
              display:flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width:150px;
              >*{
                margin-top:9px;
              }
              >*:hover{
                cursor: pointer;
              }
              >h1:hover{
                text-decoration: underline;
              }
            }
            >.review-info{
              display:flex;
              flex-direction:column;
              width:420px;
              >*{
                display:block;
                margin: 6px 0;
              }
              >:first-child{
                width:100%;
                display:flex;
                flex-direction:row;
                justify-content: space-between;
                >p{
                  margin-right:18px;
                }
              }
              >p{
                display:block;
                padding-bottom: 6px;
                font-size: 16px;
                white-space: pre-wrap;
              }
              >.review-question{
                display:flex;
                flex-direction: column;
                align-items: center;
                margin-right: 18px;
                padding:9px;
                >h3{
                  font-size: 17px;
                  font-weight: 700;
                  display:block;
                  padding-bottom: 6px;
                  color:$text-orange;
                }
                >div{
                  display:flex;
                  flex-direction: row;
                  >h4{
                    display:block;
                    padding:6px 9px;
                    border-radius: 3px;
                    border:1px solid $button-orange;
                    color:$button-orange;
                    font-weight: 700;
                    margin-right:6px;
                  }
                  >h4:hover{
                    cursor: pointer;
                    border-color: $hover-orange;
                    color:$hover-orange;
                    text-decoration: underline;
                    text-decoration-color: $hover-orange;
                  }
                }
              }
              >.edits{
                padding-right: 18px;
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                >h3{
                  display:block;
                  padding:6px 9px;
                  border-radius: 3px;
                  border:1px solid $button-orange;
                  color:$button-orange;
                  font-weight: 700;
                }
                >h3:hover{
                  cursor: pointer;
                  border-color: $hover-orange;
                  color:$hover-orange;
                  text-decoration: underline;
                  text-decoration-color: $hover-orange;
                }
              }
              >:last-child{
                display:flex;
                flex-direction: row;
                width:420px;
                max-width:420px;
                min-width:420px;
                align-items: center;
                >h2{
                  display:block;
                  box-sizing: border-box;
                  line-height: 18px;
                  font-size:16px;
                  margin-left:9px;
                }
                >h2:hover{
                  text-decoration: underline;
                }
                >*:hover{
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    >.right-body{
      width:392px;
      >.item-info{
        >h1{
          color:#333;
          font-size:27px;
          font-weight:700;
          line-height: 26px;
          font-family: $times-new-roman;
          margin-bottom:12px;
        }
        >h2{
          font-size:20px;
          font-weight: 700;
        }
        >h4{
          margin-top:20px;
          display:block;
          font-size:20px;
          padding: 6px;
          text-align: center;
          border-radius: 3px;
          color:white;
          font-weight:700;
          background-color: $hover-orange;
        }
        >h4:hover{
          background-color: orange;
          cursor: pointer;
        }
        >h3{
          margin-top:20px;
          display:block;
          font-size:20px;
          padding: 6px;
          text-align: center;
          border-radius: 3px;
          color:white;
          font-weight:700;
          background-color: red;
        }
        >form{
          margin-top:30px;
          font-weight:700;
          >select{
            cursor:pointer;
            margin-top:6px;
            padding:3px 6px;
            border:1px solid $text-grey;
            border-radius:6px;
            font-size:18px;
            >option{
              font-size:18px;
            }
          }
          >select:focus{
            border-color:black;
          }
          >h5{
            margin-top:20px;
            display:block;
            font-size:20px;
            padding: 6px;
            text-align: center;
            border-radius: 3px;
            color:white;
            font-weight:700;
            background-color: $hover-orange;
          }
          >h5:hover{
            background-color: orange;
            cursor: pointer;
          }
        }
      }
      >.user-section{
        padding-top:30px;
        width:100%;
        border-top:1px solid $border-grey;
        margin-top:30px;
        >.user-info{
          width:100%;
          display:flex;
          flex-direction: column;
          align-items: center;
          >.prof-img{
            margin-bottom:12px;
          }
          >.prof-img:hover{
            cursor: pointer;
          }
          >p{
            display:block;
            font-weight:700;
            font-size:27px;
            font-family: $times-new-roman;
            margin-bottom:18px;
          }
          >p:hover{
            cursor: pointer;
            text-decoration: underline;
          }
        }
        >.user-items{
          width:100%;
          display:flex;
          flex-direction: row;
          flex-wrap: wrap;
          >a{
            >div{
              display:flex;
              margin:3px;
              padding:0;
              flex-direction: column;
              >*:first-child{
                overflow:hidden;
                border:2px solid white;
                display:flex;
                justify-content: center;
                align-items: center;
                border-radius:3px;
                overflow:hidden;
              }
              >h3{
                padding-left:3px;
                font-size:14px;
                padding-top:6px;
              }
              >h4{
                padding-left:3px;
                font-size:14px;
                font-weight:700;
                padding-top: 6px;
              }
            }
            >div:hover{
              cursor: pointer;
              >*:first-child{
                border-color:$text-grey;
              }
            }
          }
        }
      }
    }
  }
}
