.item-index{
  >.show-all-items{
    width:100%;
    max-width:1366px;
    margin:auto;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    >a{
      >div{
        display:flex;
        margin:3px;
        flex-direction: column;
        >*:first-child{
          height:150px;
          width:185px;
          border:2px solid white;
          display:flex;
          justify-content: center;
          align-items: center;
          border-radius:3px;
          box-sizing:border-box;
          overflow:hidden;
        }
        >h3{
          font-size:14px;
          padding-top:6px;
        }
        >h4{
          font-size:12px;
          padding-top:3px;
          color:$text-grey;
        }
        >h5{
          font-size:14px;
          font-weight:700;
          padding-top: 3px;
        }
      }
      >div:hover{
        cursor: pointer;
        >*:first-child{
          border-color:$text-grey;
        }
      }
    }
  }
}
