/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "./reset.css";
@import "base/*";
@import "components/*";

.round{
  border:1px solid $border-grey;
  border-radius:50%;
}

#tall-image{
  display:flex;
  flex-direction:row;
  align-items: center;
  overflow:hidden;
  >img{
    align-self: center;
    height:auto;
  }
}

#flat-image{
  display:flex;
  flex-direction:column;
  align-items: center;
  overflow:hidden;
  >img{
    align-self: center;
    width:auto;
  }
}

.temp-body{
  width:900px;
  height:3000px;
}

.no-scroll{
  max-height: 100vh;
  overflow: hidden;
}

#review-stars{
  display:flex;
  flex-direction:row;
  align-items: center;
  padding-bottom:2px;
  >img{
    height:16px;
    width:16px;
  }
}
body{
  min-width: 800px;
}
